.rightportion{
    color:white;
    margin-left: 20em;
    background-color: 
    #31353F;
    height: 100%;
    overflow-x:hidden ;
    width: 100%;

}
.crypto{
    border-radius: 6px;
    background-color: #F6772F;
    margin-top: 1em;
    margin-left: 2em;
    width: 8em;
    padding: .6em;
    font-family: monospace;
    font-size: large;
    
}
.dashb{
/*   
    padding-top: .7em; */
    margin-left:1em ;
}
.sensex {
    margin-left: 25em;
    margin-top: -1.8em;
    
}
.svalue{
    color: #51E057;
    margin-left: 2.8em;
    margin-top: -.9em;
    
}
.profit{
    margin-top: -.1em;
    font-family: monospace;
    font-size:50%;
}

.nifty{
    margin-left: 35em;
    margin-top:-3.4em;;
}
.svalue2{
    
        color: 
        #E20909;
        margin-left: 2.3em;
        margin-top: -1em;
        
    
}
.bitcoin{
    width: 17.5em;
    padding: 4.5em;
    margin-left: 2em;
    border-radius: 20px;
    background-color: #1B2028;
}
#Stocks{
    position:relative;
    width:162px;
    height:44px;
    top: 15px;
    border-radius: 8px;
    left:2em;
    background-color: #f6d22f;
    font-family: monospace;
    font-size: large;
}
#list{
    width: 543px;
    height: 363px;
    position: relative;
    top: 25px;
    left: 32px;
    background: #1B2028;
    border-radius: 13px;
}
#inlist1{
    position: relative;
    width: 119px;
    height: 28px;
    top: 20px;
    border-radius: 8px;
    left: 1em;
    background-color: #3bbe22;
    font-family: monospace;
    font-size: large;
    color: white;
}
#inlist2{
    position: relative;
    width: 101px;
    height: 28px;
    top: 20px;
    border-radius: 8px;
    left: 2em;
    background-color: #eb1f1f;
    font-family: monospace;
    font-size: large;
    color: white;
}