
.rightportion{
    color:white;
    /* margin-left: 20em; */
    /* float: right; */
    background-color: 
    #31353F;
    height: 100vh;
    overflow-x:hidden ;
    width: 170vh;

}
.crypto{
    border-radius: 6px;
    background-color: #F6772F;
    margin-top: 1em;
    margin-left: 2em;
    width: 8em;
    padding: .6em;
    font-family: monospace;
    font-size: large;
    
}
.dashb{
/*   
    padding-top: .7em; */
    margin-left:1em ;
}
.sensex {
    margin-left: 25em;
    margin-top: -1.8em;
    
}
.svalue{
    color: #51E057;
    margin-left: 2.8em;
    margin-top: -.9em;
    
}
.profit{
    margin-top: -.1em;
    font-family: monospace;
    font-size:50%;
}

.nifty{
    margin-left: 35em;
    margin-top:-3.4em;;
}
.svalue2{
    
        color: 
        #E20909;
        margin-left: 2.3em;
        margin-top: -1em;
        
    
}
.bitcoin{
    width: 17.5em;
    padding: 4.5em;
    margin-left: 2em;
    border-radius: 20px;
    background-color: #1B2028;
}
#Stocks{

    width: 9.9375rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background-color: #F6CA2F;
    margin:0.8rem 0rem 0rem 2rem;
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#list{
    width: 543px;
    height: 363px;
    position: relative;
    top: 25px;
    left: 32px;
    background: #1B2028;
    border-radius: 13px;
}
#inlist1{
    width: 7.5625rem;
height: 1.8125rem;
flex-shrink: 0;
border-radius: 0.375rem;
background: #77AD20;
    color: #FFF;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 1rem; /* 100% */
margin: 1rem 1rem 0rem 1rem;

}
#inlist2{
    width: 6.28769rem;
    height: 1.8125rem;
    flex-shrink: 0;
    border-radius: 0.375rem;
background: #E13333;
color: #FFF;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 1rem; /* 100% */
}
.listheading{
    margin: 1.2rem 0rem 0rem 0rem;
}
.listhead{
    display: flex;
width: 4.1875rem;
height: 1.5625rem;
justify-content: center;
flex-shrink: 0;
    display: inline;
    color: #FFF;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 1rem; /* 100% */
}
#company{
    margin: 0rem 0rem 0rem 0.8rem;
}
#latest{
    margin: 0rem 0rem 0rem 6.5rem;

}
#gain1{
    margin: 0rem 0rem 0rem 2.5rem;
    color: #1ECB4F;
}
#gain2{
    margin: 0rem 0rem 0rem 2.5rem;
    color: #1ECB4F;
}
#volume{
    margin: 0rem 0rem 0rem 2.5rem;
}
.listitem{
    margin: 0.9rem 0rem 0rem 0.5rem;
    width: 32.9375rem;
height: 3.4375rem;
flex-shrink: 0;
border-radius: 0.5rem;
background: rgba(255, 255, 255, 0.24);
}
.listbtn{
    width: 32.9375rem;
    height: 3.4375rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.24);
}
.companydata{
    display: flex;
width: 4.1875rem;
height: 1.5625rem;
justify-content: center;
flex-shrink: 0;
    display: inline;
    color: #FFF;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 1rem; /* 100% */
    margin: 0rem 0rem 0rem 0.8rem;
}
#mahindra{
    display:inline-flex;
}
.latestdata{
    display: flex;
    width: 4.1875rem;
    height: 1.5625rem;
    justify-content: center;
    flex-shrink: 0;
        display: inline;
        color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem; /* 100% */
    margin: 0rem 0rem 0rem 6.5rem;
}
.gain1data{
    display: flex;
    width: 4.1875rem;
    height: 1.5625rem;
    justify-content: center;
    flex-shrink: 0;
        display: inline;
        color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem; /* 100% */
    margin: 0rem 0rem 0rem 2.5rem;
    color: #1ECB4F;
}
.gain2data{
    display: flex;
    width: 4.1875rem;
    height: 1.5625rem;
    justify-content: center;
    flex-shrink: 0;
        display: inline;
        color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem; /* 100% */
    margin: 0rem 0rem 0rem 2.5rem;
    color: #1ECB4F;
}
.Volumedata{
    display: flex;
    width: 4.1875rem;
    height: 1.5625rem;
    justify-content: center;
    flex-shrink: 0;
        display: inline;
        color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem; /* 100% */
    margin: 0rem 0rem 0rem 2.5rem;
}

/*list completed*/

#bonds{
    width: 5.83331rem;
    height: 2.1875rem;
flex-shrink: 0;
border-radius: 0.5rem;
background: #2FF6F6;
color: #000;
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 1rem 0rem 0rem 0.5rem;
}