*{
    margin: 0%;
   

}
.start{
    margin-left: 1em;
    padding-top: 1em;
    font-style: 
    Baloo 2; 
   
}
.equi{
    border-radius: 100%;
  
   
 
}
.txt{
    margin-top: -2em;
    margin-left: 3em;
}
.overview{
  color:  #BEB9B9;
  margin-top: 2em;
  margin-left: .6em;
  font-family: 
  Baloo 2;
  font-size: 150%;
}

.dashboard{
    margin-left: 2.8em;
    margin-top: 2em;
    width: 15em;  
    height: 4.4em;
    border-radius: 8px;
    background-color: #737A87;
    color: #BEB9B9;
    /* width: 14.625rem;
height: 3.4375rem;
flex-shrink: 0;
border-radius: 0.625rem; */
}
.dashboard:hover{
    background-color: #0B7AFD;
}
.leftportion{
    width: 20em;
    height: auto;
    background-color: #15223C;
    ;
    color: #fff;
    font-family: 
    Baloo Paaji 2;

}
.portfolio{
    margin-left: 2.8em;
    margin-top: 1em;
    width: 15em;
    height: 4.4em;
    border-radius: 8px;
    background-color: #737A87;
    color:#BEB9B9;
}
.portfolio:hover{
    background-color: #0B7AFD;
}
.lftruler{
    margin-top: 16em;
}
.logout{
    margin-left: 2.8em;
    margin-top: 2em;
    width: 15em;
    height: 4.4em;
    border-radius: 8px;
    background-color:#737A87;
    color:#BEB9B9;
}
.logout:hover{
    background-color: #0B7AFD;
}
#dashtxt{
    display: flex;
    color: #FFF;
    width: 10.0625rem;
    height: 2.4375rem;
    flex-shrink: 0;
font-family: Baloo Paaji 2;
font-size: 1.7rem;
font-style: normal;
font-weight: 700;
line-height: normal;
justify-content: center;
}
#porttxt{
    display: flex;
    color: #FFF;
    width: 10.0625rem;
    height: 2.4375rem;
    flex-shrink: 0;
font-family: Baloo Paaji 2;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
justify-content: center;
}
#logouttxt{
    display: flex;
    color: #FFF;
    width: 10.0625rem;
    height: 2.4375rem;
    flex-shrink: 0;
font-family: Baloo Paaji 2;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
justify-content: center;
}
